.DS_Store
.AppleDouble
.LSOverride

venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

*.env
*.secret
config.json
credentials.json

logs/
*.log
*.out
*.err
cache/
*.sqlite3

.ipynb_checkpoints/

tmp/
*.bak
*.swp
*.swo
*.swn

Pipfile.lock
poetry.lock
